$background-gradient: linear-gradient(to bottom, #b00200, #580400);

body {
    background: $background-gradient;
}

.navbar {
    margin-bottom: 20px;
    background: transparent;
}

.bg-inverse {
    background-color: transparent;
}

.full-width {
    width: 100%;
}

.nav-link {
    color: white !important;
}